{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-cluster-setup"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-deployment"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-cert-manager"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-shared-resources"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "verifyRelease": [
    [
      "@semantic-release/exec",
      { "cmd": "echo ${nextRelease.version} > VERSION" }
    ]
  ],
  "prepare": [
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-cluster-setup"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-deployment"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-cert-manager"
      }
    ],
    [
      "semantic-release-helm3",
      {
        "chartPath": "./charts/solo-shared-resources"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "charts/solo-deployment/Chart.yaml",
          "charts/solo-cluster-setup/Chart.yaml",
          "charts/solo-cert-manager/Chart.yaml",
          "charts/solo-shared-resources/Chart.yaml"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\nSigned-off-by: Hedera Automation <hedera-eng-automation@swirldslabs.com>"
      }
    ]
  ],
  "publish": [
    [
      "@semantic-release/exec",
      { "cmd": "helm dependency update charts/solo-cluster-setup" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm dependency update charts/solo-deployment" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm dependency update charts/solo-cert-manager" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm dependency update charts/solo-shared-resources" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm package charts/solo-cluster-setup" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm package charts/solo-deployment" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm package charts/solo-cert-manager" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm package charts/solo-shared-resources" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm push solo-cluster-setup-${nextRelease.version}.tgz oci://ghcr.io/hiero-ledger/solo-charts" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm push solo-deployment-${nextRelease.version}.tgz oci://ghcr.io/hiero-ledger/solo-charts" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm push solo-cert-manager-${nextRelease.version}.tgz oci://ghcr.io/hiero-ledger/solo-charts" }
    ],
    [
      "@semantic-release/exec",
      { "cmd": "helm push solo-shared-resources-${nextRelease.version}.tgz oci://ghcr.io/hiero-ledger/solo-charts" }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "solo-deployment-*.tgz"
          },
          {
            "path": "solo-cluster-setup-*.tgz"
          },
          {
            "path": "solo-cert-manager-*.tgz"
          },
          {
            "path": "solo-shared-resources-*.tgz"
          }
        ]
      }
    ]
  ],
  "branches":[
    {
      "name": "main"
    },
    {
      "name": "release/([0-9]+).([0-9]+)",
      "channel": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x",
      "range": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x"
    },
    {
      "name": "alpha/*",
      "prerelease": "alpha",
      "channel": "alpha"
    },
    {
      "name": "ci/*",
      "prerelease": "alpha",
      "channel": "alpha"
    },
    {
      "name": "beta/*",
      "prerelease": "beta",
      "channel": "beta"
    },
    {
      "name": "rc/*",
      "prerelease": "rc",
      "channel": "rc"
    }
  ]
}
